%h2= t("dashboard.index.title")
.row
  .col-xs-6.col-md-4
    .list-group
      %a.list-group-item{ href: shops_path }= t("shops.index.title")
      %a.list-group-item{ href: rooms_path }= t("rooms.index.title")
      %a.list-group-item{ href: users_path }= t("users.index.title")
.row
  .col-xs-6.col-md-4
    %a{ href: reservations_path, class: "btn btn-primary"  }
      = t("reservations.index.title")
