= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-4
      = f.label :name
      = f.text_field :name, autofocus: true, class: "form-control", placeholder: "Taro Yamada"
  .row
    .col-md-4
      = f.label :email
      = f.email_field :email, class: "form-control", placeholder: "taro.yamada@example.com"
  .row
    .col-md-4
      = f.label :shop_ids
      = f.select :shop_ids, options_from_collection_for_select(@shops, :id, :name, @user.shop_ids), multiple: true, class: "form-control"
  .row
    .col-md-4
      = f.label :password
      = f.password_field :password, class: "form-control"
  .row
    .col-md-4
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: "form-control"
  .row
    .col-md-4
      .actions
        = f.submit t(:save)
