= form_for @user, html: { class: "form-horizontal", role: "form" } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .col-xs-2.control-label
      = f.label :name
    .col-md-4
      = f.text_field :name, autofocus: true, class: "form-control", placeholder: "Taro Yamada"
  .form-group
    .col-xs-2.control-label
      = f.label :email
    .col-md-4
      = f.email_field :email, class: "form-control", placeholder: "taro.yamada@example.com"
  .form-group
    .col-xs-2.control-label
      = f.label :shop_ids
    .col-md-4
      = f.select :shop_ids, options_from_collection_for_select(@shops, :id, :name, @user.shop_ids), multiple: true, class: "form-control"
  .form-group
    .col-xs-2.control-label
      = f.label :password
    .col-md-4
      = f.password_field :password, class: "form-control"
  .form-group
    .col-xs-2.control-label
      = f.label :password_confirmation
    .col-md-4
      = f.password_field :password_confirmation, class: "form-control"
  .form-group
    .col-md-2.col-md-offset-1.control-label.actions
      = f.submit t(:save)
