%p#notice= notice
.row
  .col-xs-2= label_tag :name, User.human_attribute_name("name")
  .col-xs-2= @user.name
.row
  .col-xs-2= label_tag :name, User.human_attribute_name("email")
  .col-xs-2= @user.email  
= link_to t("actions.edit"), edit_user_path(@user)
\|
= link_to t(:back), users_path
