%h1= t("rooms.index.title")
%table.table.table-striped.table-hover
  %tr
    %th= Room.human_attribute_name("name")
    %th
    %th
    %th
  - @rooms.each do |room|
    %tr
      %td= room.name
      %td= link_to t("actions.show"), room
      %td= link_to t("actions.edit"), edit_room_path(room)
      %td= link_to t("actions.destroy"), room, method: :delete, data: { confirm: 'Are you sure?' }
= link_to t("actions.new"), new_room_path
