%p#notice= notice

%p
  %b Name:
  = @room.name
%p
  %b Created by:
  = @room.creator.nil? ? "" : @room.creator.name
%p
  %b Updated by:
  = @room.updater.nil? ? "" : @room.updater.name

= link_to 'Edit', edit_room_path(@room)
\|
= link_to 'Back', rooms_path
