!!!
%html
  %head
    %title= "Facility"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{ role: "navigation" }
      .container-fluid
        .navbar-header
          %button.navbar-toggle{ type: "button", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1" }
            %span.sr-only= "toggle"
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: root_path }
            %img{ src: "/assets/tkikaku.png" }
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          %ul.nav.navbar-nav
            -# %li
              -# %a{ href: "https://xxx/", target: "_blank" }= "some"
          = render "navright"
    .container-fluid
      .row
        .container
          = yield
